/target/
/*.iml
.idea
/.apt_generated/
/.settings/
/.factorypath
/.project
.externalToolBuilders/
/.classpath
/bin/
/dubbo-registry-crm.properties
dubbo-registry-crm.properties.lock
/dubbo-registry-product.properties
/dubbo-registry-product.properties.lock
/dubbo-registry-order.properties
/dubbo-registry-order.properties.lock
/*.properties
/*.properties.lock
/*.log
